.contact_title {
  text-align: center;
  margin-top: 20px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  font-size: 16px;
  margin: auto;
}

input {
  width: 365px;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--color-normal);
}
textarea {
  width: 365px;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--color-normal);
}
label {
  margin-top: 5px;
  color: var(--color-light);
}

input[type="submit"] {
  width: 75px;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
  background-color: var(--color-light);
  font-weight: var(--font-weight-heavy);
  font-family: "Poppins", sans-serif;
}

input[type="submit"]:hover {
  background-color: var(--color-normal);
  color: var(--color-light);
  border: 2px solid var(--color-normal);
  transition: var(--transition);
}
.send_button {
  display: flex;
  justify-content: center;
  
}
