.header_container {
  display: flex;
  flex-direction: column;
}

.cta {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-light);
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid var(--color-normal);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-normal);
  color: var(--color-light);
  border-color: transparent;
}

.btn_secondary {
  width: max-content;
  display: inline-block;
  color: var(--color-bg-dark);
  font-weight: 800;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid var(--color-light);
  transition: var(--transition);
  background-color: var(--color-light);
}

.title {
  display: flex;
  flex-direction: column;
}

.sub {
  font-size: var(--font-size-medium);
  color: var(--color-light);
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
