.header_container {
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-light);
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid var(--color-normal);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-normal);
  color: var(--color-light);
  border-color: transparent;
}

.btn_secondary {
  width: max-content;
  display: inline-block;
  color: var(--color-bg-dark);
  font-weight: 800;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid var(--color-light);
  transition: var(--transition);
  background-color: var(--color-light);
}

.title {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow: none;
}

.sub {
  font-size: var(--font-size-medium);
  color: var(--color-light);
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.name {
  font-size: 50px;
  vertical-align: text-top;
}

.canvas_container {
  width: 200px;
  height: 200px;
  overflow: visible;
  padding-bottom: 50px;
  padding-right: 10px;
}

.header_nav_cont {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  padding: 7.5px;
}

ul > li > a {
  padding: 5px;
  color: var(--color-light);
}

ul > li > a:hover { 
  color: var(--color-normal);
}
.phone, .email {
  font-size: 14px;
}




