.content_container {
  display: flex;
}
.nav_list {
  margin-top: 25px;
  width: 160px;
}

header {
  margin-bottom: 25px;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.link:hover {
  color: var(--color-light);
}

body {
  background-color: #282c34;
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
