.content_container {
  display: flex;
}
.nav_list {
  margin-top: 25px;
  width: 160px;
}

header {
  margin-bottom: 25px;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.link:hover {
  color: var(--color-light);
}
